{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 id="ppp">Hello {{ user_name }} ! 👋</h1>

    <turbo-frame id="ma-frame">
        <h1>HelloFrame {{ user_name }} ! 👋</h1>
        <div>
            <a
                    href="{{ path('myApp_home', {nb: 222}) }}"
                    data-turbo-frame="_top"
{#                    data-turbo-action="replace"#}
            >
                Naviguer sans recharger
            </a>
        </div>
        <div>
            <a
                    href="{{ path('myApp_home', {nb: 222}) }}"
            >
                Naviguer dans la frame {{ user_name }}
            </a>
        </div>
        <div>
            <!-- Navigation SPA-like -->
            <a
                    href="{{ path('myApp_home') }}"
                    data-turbo-frame="_top"
                    data-turbo-action="replace"
            >
                Refresh
            </a>
        </div>
        <div>
            <a
                    href="{{ path('myApp_home') }}"
                    data-turbo="false"
            >
                Hard refresh
            </a>
        </div>
        <div>
            <a
                    href="{{ path('myApp_home2') }}"
            >
                Append
            </a>
        </div>

        <turbo-stream action="before" target="ppp">
            <template>
                <div class="h1 text-primary">
                    This div will be appended to the element with the DOM ID "messages".
                </div>
            </template>
        </turbo-stream>
    </turbo-frame>
</div>
{% endblock %}
