<div id="design_{{ index }}">
    <div class="card mb-3 p-3 design-item">
        <div class="d-flex justify-content-between align-items-start">
            <h5 class="card-title">Désignation</h5>
            <a href="{{ path('app_devis_remove_design', {index: index}) }}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
        </div>
        {{ form_row(designForm.design) }}
        {{ form_row(designForm.quantity) }}
        {{ form_row(designForm.product) }}
    </div>
</div>