{{ form_start(form) }}
    {{ form_widget(form) }}

{#    <div class="form-label">Désignations</div>#}
{#    <div {{ stimulus_controller('devis-design') }}>#}
{#        <div data-devis-design-target="container"></div>#}
{#        <a class="btn btn-outline-dark" data-action="click->devis-design#addRow">Ajouter désignation</a>#}
{#    </div>#}

    <button type="submit" class="btn btn-dark mt-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}