{% extends 'base.html.twig' %}

{% set strWord = devi.isNew ? 'Create new' : 'Edit' %}

{% block title %}{{ strWord }} devis{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col"><h1>{{ strWord }} devis</h1></div>
        <div class="col-auto">
            <div class="d-flex">
                <a class="btn btn-outline-dark me-2" href="{{ path('app_devis_index') }}">Back to list</a>
                {% if not devi.isNew %}{{ include('devis/_delete_form.html.twig') }}{% endif %}
            </div>
        </div>
    </div>

{#    {% form_theme form 'devis/_custom_devisDesign.html.twig' %}#}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-dark mt-3">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}

