{# templates/devis/new.html.twig #}
{% extends 'base.html.twig' %}
{% set strTitle = "Créer un devis" %}
{% block title %}{{ strTitle }}{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>{{ strTitle }}</h1>

        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.number) }}

        <div class="my-3">
            <label class="form-label">Désignations</label>
            <div id="designs">
                {% if form.designs is defined %}
                    {% for designForm in form.designs %}
                        {% include 'devis/turbo/template.html.twig' with {index: loop.index} %}
                    {% endfor %}
                {% endif %}
            </div>
            <div id="designAdd">
                <a href="{{ path('app_devis_add_design', {index: designCount+1}) }}" class="btn btn-outline-dark">
                    <i class="bi bi-plus-square me-3"></i>Ajouter une designation
                </a>
            </div>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">{{ btnLabel | default('Ajouter') }}</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}